@font-face {
    font-family: 'Gelion';
    src: url('/fonts/Gelion-Regular.eot?cache=2022-03-08-20-11-31');
    src: url('/fonts/Gelion-Regular.eot?cache=2022-03-08-20-11-31#iefix') format('embedded-opentype'),
        url('/fonts/Gelion-Regular.woff?cache=2022-03-08-20-11-31?cache=2022-03-08-20-11-31') format('woff2'),
        url('/fonts/Gelion-Regular.woff?cache=2022-03-08-20-11-31') format('woff'),
        url('/fonts/Gelion-Regular.ttf?cache=2022-03-08-20-11-31') format('truetype'),
        url('/fonts/Gelion-Regular.svg?cache=2022-03-08-20-11-31#Gelion-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


html, body {
    color: #ececec;
    background-color: #141516;
    font-family: 'Inter', sans-serif;
    height: 100%;
    width: 100%;
}

.login-quote {
    font-weight: 700;
    font-size: 10.5vw;
}

.login {
    max-width: 700px;
}

.round {
    border-radius: 5%;
}

.btn {
    border-radius: 40px;
    font-weight: 700;
    font-size: 4.2vw;
}

.main-btn {
    border: 0px;
    height: 50px;
}

.btn-primary {
    background-color: #005eba;
}

.btn-secondary {
    background-color: #395367;
}

.service-btn {
    border-color: #3a3631;
    color: white;
    border-radius: 25px;
    height: 45px;
}

.terms {
    font-size: 2.2vh;
}

